body {
    background: rgb(124,124,154);
    background: radial-gradient(circle, rgba(124,124,154,1) 0%, rgba(5,4,17,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 68);
    text-align: center;
}
.calculator {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calc-container {
    background-color: rgb(13, 13, 46);
    border: 8px solid rgb(13, 13, 46);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 70px);
    gap: 4px;
}
.display {
    grid-column: 1 / -1;
    background: rgb(164,168,179);
    background: linear-gradient(90deg, rgba(164,168,179,0.9500175070028011) 0%, rgba(213,217,224,1) 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4px;
    font-size: 2.5em;
    margin: 4px;
}
button {
    background: #4f6ddb;
    background-image: -webkit-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -moz-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -ms-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -o-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: linear-gradient(to bottom, #4f6ddb, #1d5375);
    border-radius: 8px;
    color: #e7ebf5;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; 
}
.calc-clear,
.calc-back,
.equals {
    background: #4563d1;
    background-image: -webkit-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -moz-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -ms-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -o-linear-gradient(top, #4563d1, #1a1d63);
    background-image: linear-gradient(to bottom, #4563d1, #1a1d63);
}

button:hover {
    background: #a5b0b5;
    background-image: -webkit-linear-gradient(top, #a5b0b5, #52545c);
    background-image: -moz-linear-gradient(top, #a5b0b5, #52545c);
    background-image: -ms-linear-gradient(top, #a5b0b5, #52545c);
    background-image: -o-linear-gradient(top, #a5b0b5, #52545c);
    background-image: linear-gradient(to bottom, #a5b0b5, #52545c);
    text-decoration: none;
}
#zero {
    grid-column: span 2;
}
.worning {
    position: absolute;
    visibility: hidden;
    display: none;
    bottom: -20%;
    border: 1px solid;
    height: 20%;
    width: 50%;
}
