body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: rgb(124, 124, 154);
    background: radial-gradient(circle, rgba(124, 124, 154, 1) 0%, rgba(5, 4, 17, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 68);
    text-align: center;
}

/* .calculator {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} */

.calculator {
    background-color: rgb(13, 13, 46);
    border: 8px solid rgb(13, 13, 46);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 70px);
    gap: 4px;
    overflow: hidden;
}

.display {
    grid-column: 1 / -1;
    background: rgb(164, 168, 179);
    background: linear-gradient(90deg, rgba(164, 168, 179, 0.9500175070028011) 0%, rgba(213, 217, 224, 1) 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4px;
    font-size: 2.5em;
    margin: 4px;
}

button {
    background: #4f6ddb;
    background-image: -webkit-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -moz-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -ms-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -o-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: linear-gradient(to bottom, #4f6ddb, #1d5375);
    border-radius: 8px;
    color: #e7ebf5;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #4f6ddb;
    background-image: -webkit-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -moz-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -ms-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -o-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: linear-gradient(to bottom, #4f6ddb, #1d5375);
    opacity: 0.7;
}

.calc-clear,
.calc-back,
.equals {
    background: #4563d1;
    background-image: -webkit-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -moz-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -ms-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -o-linear-gradient(top, #4563d1, #1a1d63);
    background-image: linear-gradient(to bottom, #4563d1, #1a1d63);
}

.calc-clear:hover,
.calc-back:hover,
.equals:hover {
    background: #4563d1;
    background-image: -webkit-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -moz-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -ms-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -o-linear-gradient(top, #4563d1, #1a1d63);
    background-image: linear-gradient(to bottom, #4563d1, #1a1d63);
    opacity: 0.7;
}

button:active {
    background: #4563d1;
    background-image: -webkit-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -moz-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -ms-linear-gradient(top, #4563d1, #1a1d63);
    background-image: -o-linear-gradient(top, #4563d1, #1a1d63);
    background-image: linear-gradient(to bottom, #4563d1, #1a1d63);
    transform: scale(0.98);
}

.calc-clear:active,
.calc-back:active,
.equals:active {
    background: #4f6ddb;
    background-image: -webkit-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -moz-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -ms-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: -o-linear-gradient(top, #4f6ddb, #1d5375);
    background-image: linear-gradient(to bottom, #4f6ddb, #1d5375);
    transform: scale(0.98);
}

.plus {
    grid-row: span 2;
}
.worning {
    position: absolute;
    visibility: hidden;
    display: none;
    bottom: -20%;
    border: 1px solid;
    height: 20%;
    width: 50%;
}
